
.body {
	background-image: url( ../img/photo1.jpeg);
	} 
 
a {
	text-decoration: none;
}
li:hover > .sub-menu1 {
	display: block;
	position:relative;
	padding: 0;
}
.menu1 {
	display:flex;
	background-color: #93a5a4;
	padding: 0;
}
.sub-menu1 {
	display:none;
}
li {
  list-style-type: none;
}

.form {
	display:none;
}
.form:target {
	display: block;
	position:fixed;
	z-index:;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
    opacity: 0.5;	
	background-color: gray;
	
}
	
.form:target ~ .form-body {
	display:block;
	position:fixed;
	z-index:2;
	top:120px;
	left:55px;
	right:55px;
	bottom:55px;
	background-color: #a1d7de;
	
}